{% extends 'geral/base.html' %} 

{% block 'title' %}Acesse sua conta{% endblock %}

{% block 'content' %}

<body style="background-color: #1e90ff;">
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <form action="{% url 'user_login' %}" method="POST">
            {% csrf_token %}
            <br>
            <div class="col text-center" style="border-radius: 15px; background-color: white;">
                <div class="row pt-3" >
                    <br>
                    <h2>Entre na sua conta</h2>
                    <p>Por favor, digite seu username e senha para entrar.</p>
                </div>
                <hr>
                <div class="row mt-2 mx-3">
                    <br>
                    <div class="input-group">
                        <span class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-vcard" viewBox="0 0 16 16">
                                <path d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5ZM9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8Zm1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Z"/>
                                <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2ZM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96c.026-.163.04-.33.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1.006 1.006 0 0 1 1 12V4Z"/>
                            </svg>
                        </span>
                        <input type="text" class="form-control" name="username" placeholder="Username cadastrado"
                            required="required">
                    </div>
                </div>
                <div class="row mt-2 mx-3">
                    <div class="input-group">

                        <span class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-lock-fill" viewBox="0 0 16 16">
                                <path
                                    d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z" />
                            </svg>
                        </span>
                        <input type="password" class="form-control" name="password" placeholder="Digite sua senha"
                            required="required">
                    </div>
                </div>

                <div class="form-group mt-4">
                    <button type="submit" class="btn btn-success">Entrar</button>
                </div>
                <br>
            </div>
        </form>
        <br>
    <div style="color: white; text-decoration: none;" class="text-center fw-bold">
        <h4>
            Não possui uma conta? <a style="text-decoration: none; color: black;" href="{% url 'user_signup' %}">Cadastre-se aqui</a>
        </h4>
    </div>
    <br>
</body>
{% endblock %}