/* langing page */
body{
    background-color: #b23131;
}
.landing-1 {
background-color: #ffffff;
}
.landing {
background-color:#212529;
color: white;
}
#btn_signup {
background-color: #1e90ff;
color: #ffffff;
}

footer {
background-color: #b23131;
color: #ffffff;
}
.logo-b3{
    height: 40;
}
img{
    max-height: 40;
}
/* end landing page */

